body{
    background-color: rgb(0, 0, 0);
    text-align: center;
}

h1{color:rgb(22, 128, 221)

}
h4{color:rgb(41, 187, 28)

}
h2{color:rgb(206, 26, 41)

}
ul{color:rgb(245, 194, 7)
}

li{display: flex;
align-items: center;
justify-content: center;
gap: 10px;

}

li img{
    width: 30px;
    height: 30px;

}
li{
    transition: 0.3s;
}
li:hover{
    color:rgb(240, 217, 12));
    front-size: 20px; 
    
}